
.backButton {
        text-shadow: 1px 1px 1px #ccc;
        font-size: 2.5em;
    
}
body{
    margin: 0;
}
.container{
    width: 100%;
}
.maps-container{
    height: 60vh;
    width: 100%;
    /* right: 100%; */
}

.inputContainer{
    /* position: absolute; */
    /* right: 50%; */
    top: 0;
    height: 100px;
    width: 100%;
}
#googleMap{
    /* position: absolute; */
    /* left: 50%; */
    height: 400px;
    width: 100%;
}

/* .popup-container {
    display: none;
} */
.modal-body{
    width: 100%;
    height: 50vh;
}

.headerContainer {
    background-image: url("images/wavesback.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%

}