@font-face {
    font-family: beachFont;
    src: url("font/TropicalAsianDEMO-Regular.ttf");
    
}

#searchQuery {
    font-family: beachFont;
    font-size: 10vh;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-bottom: -1vh;

}

.backButton {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.5em;

}
body{
margin: 0;
}
.container{
width: 100%;

}
.maps-container{
height: 90vh;
width: 100%;
/* right: 100%; */
}

/* .inputContainer{ */
/* position: absolute; */
/* right: 50%; */
/* } */

#googleMap {
/* position: absolute; */
height: 90%;
width: 100%;
}

.modal-content{
    height: 60vh;
}

.popup-container {
display: none; 
position: relative; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 20%;
float: left;
position:absolute;
z-index: 2;
width: 40%;
height: 100%;
}


.modal-body{
width: 100%;
height: 18vh;
position:absolute;
z-index: 2;
}

.headerContainer {
background-image: url("images/wavesback.gif");
background-repeat: no-repeat;
background-size: cover;
max-height: 160px;

}
.mainDisplay{
width: 100%;
height: 100%;
line-height: 7.5;


}

.modal-dialog{
    pointer-events: all;
}

.carousel-item{
height: 35vh;
}



.hidden{
display:none;
}

.liveStreamButton{
    z-index: 5;
}
/* ---------------------Video Modal------ */
.close-button {
    overflow: hidden;
  }
  

  .video-modal-content {
    box-shadow: none;
    background-color:black;
    opacity: .97;
    border: 0;
  }
 
  
  .video-modal-content iframe {
    display: block;
    margin: 0 auto;
  }


  .close {
      z-index:3;
  }


  .shoreline{
      /* z-index: 2;
      height: 100%;
      width: 100%; */

    position: relative;
    /* right: 0; */
    display: inline;
    left: 80%;
    bottom: 130px;

  }
/* 
  .h1header {
      display:inline;
  } */
.close {
    z-index: 3;
}
